.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #ececec;
}
.connect__wallet {
  width: 400px;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 20px;
}

.connect__wallet__option {
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.connect__wallet__option img {
  width: 60px;
  margin-right: 30px;
}

.connect__wallet__option span {
  font-size: 20px;
}

.stake__container {
  flex: 1;
  margin: 0 140px;
}

.stake__detail {
  margin: 50px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

.stake__action {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.stake__action button {
  display: block;
  width: 45%;
  color: #ffffff !important;
  font-weight: bold;
  border: none;
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  height: unset !important;
}

.stake__action .approve {
  background: #f5222d;
}

.stake__action .deposit {
  background: #531dab;
}

.stake__action .withdraw {
  background: #eb2f96;
}

.ant-descriptions-item-label {
  font-size: 15px;
  font-weight: bold;
}

.modal__info {
  margin-bottom: 20px;
}